* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  overflow: hidden;
}

.navbar {
  flex: 0.2;
  background-color: #eee;
}

.main {
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 20px;
}
